$font-Roboto: "Roboto";
$font-poppins:'Poppins';
$font-AlfaSlab:'Alfa Slab One';
$font-Montserrat: 'Montserrat';
$font-BebasNeue:'Bebas Neue';
$font-OpenSans:'Open Sans', sans-serif;
$font-MPLUSCodeLatin:'M PLUS Code Latin', sans-serif;

$text-color-b:#2b2929f6;
$font-Montserrat:'Montserrat', sans-serif;
$font-Roboto:'Roboto', sans-serif;
$color-btn:#165dfc;
$color-white:#fff;
$color-gray:#231742;
$color-icon-orange:#f5c163;