@import '../../Styles/import';


.Menu{
display:none;
padding: 0 1rem;

}

.btnremove{
display: none;
}
.header{
width: 100%;
height: 10%;
display: flex;
align-items: center;
margin-bottom:1rem ;

.Nav{
display: flex;
width: 80%;
height:10%;
justify-content: space-around;
ul{
display: flex;
li {
padding: 0 1rem;
a{
font-family: $font-Montserrat;
color:$text-color-b;
font-size: 1.5rem;
cursor:pointer;
&:hover{
    border-bottom:2px solid $color-btn;
    padding-bottom:2.3rem ;
}

}
.active{
border-bottom:2px solid $color-btn;
padding-bottom:2.3rem ;
}

}
}

.logo{
    overflow:hidden;
        width:3vw;
        text-align:center;
        clip-path:circle(50%);
        img{
        object-fit: cover;
        max-height:90%;
        max-width: 100%;
        }
}
}






}
  
.header_active{

    width: 100%;
    height: 10%;
    position:fixed;
    background:white;
    display: flex;
    align-items: center;
    margin-bottom:1rem ;
    box-shadow:0  8px 12px 0 rgba(0, 0, 0, 0.226);
    .Nav{
    display: flex;
    width: 80%;
    height: 10%;
    justify-content: space-around;
    ul{
    display: flex;
    li {
    padding: 0 1rem;
    a{
    font-family: $font-Montserrat;
    color:$text-color-b;
    font-size: 1.5rem;
    cursor:pointer;
    &:hover{
        border-bottom:2px solid $color-btn;
        padding-bottom:2.3rem ;   
    }
    
    }
    .active{
    border-bottom:2px solid $color-btn;
    padding-bottom:2.3rem ;
    }
    
    }
    }
    
    .logo{
        overflow:hidden;
            width:3vw;
            text-align:center;
            clip-path:circle(50%);
            img{
            object-fit: cover;
            max-height:90%;
            max-width: 100%;
            }
    }
    }
    
    
    
    
    
    
    }

@media (max-width:750px){

    .header{
    padding:0 1rem;
    justify-content: space-between;

    .Nav{
        display: none;
        }
    }
    .header_active{
        padding:0 1rem;
        justify-content: space-between;
    
        .Nav{
            display: none;
            }
        }
    
    .Menu{
    display: flex;
   
    color:black;
    button{
        cursor: pointer;
        }    

    }
    
    .btnremove{
    display: flex;
    color: $color-white;
    button{
        color: $color-white;
        cursor: pointer;
        }
    }
    
    
    
    .Mobile_menu{
    display: block;
    position: fixed;
    height: 100%;
    background: #000000;
    top:0;
    left: 0;
    padding: 2rem;
    
ul{
    display: block;
    max-width: 100%;
    li {
    padding: 1rem 0;
    a{
    color: $color-white;
    
    
    } 
    .active{
    background: $color-btn;
    border:2px solid $color-btn;
    border-radius: 0.5rem;
    padding:0.7rem  4rem  0.7rem 0.7rem;
    }
    
    }
    }

    .logo{
        overflow:hidden;
            width:3vw;
            text-align:center;
            clip-path:circle(50%);
            img{
            object-fit: cover;
            max-height:90%;
            max-width: 100%;
            }
    }
    
    }

     
    
    
    
    
    
    }
    
     
    
    

    
   
    
    